.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0 10%;
}

.y-kampus {
    margin: 20px 0;
    align-self: center;
    height: 100px;
    width: auto;
}