/* #f2efe8, #95c83d, #383838*/

.room {
    color: #383838;
    background-color: #f2efe8;
    padding: 15px 30px;
    border-bottom: 5px solid #95c83d;
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
}

.room.reserved {
    border-bottom: 5px solid #c84b42;
}

.reservations {
    flex: 1;
    min-width: 0;
}

.reservation {
    margin: 5px;
    font-size: 1.1em;
    color: #515151;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Roboto', sans-serif;
}

.reservation.current {
    font-weight: 900;
    color: inherit;
}