.room-identifier {
    flex: 0.9;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.room-identifier > .code {
    color: #383838;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

.room-identifier > .middot {
    color: #95c83d;
    font-size: 4em;
    font-weight: bold;
    margin: 0 15px;
    font-family: 'Roboto', sans-serif;
}

.room-identifier.reserved > .middot {
    color: #c84b42;
}

.room-identifier > .name {
    font-size: 2em;
}